@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: #141313ec;
    color: white;
}


.nav__ul{
    margin: .5em auto;
    width: 18em;
    padding: .5em 0 ;
    height: 3em;
    color: rgb(185, 172, 124);
    border-bottom: 0.15em solid rgba(255, 255, 255, 0.055);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav__ul li h1{
    font-family: 'Lobster', cursive;
    text-transform: capitalize;
    font-size: 2em;
    letter-spacing: 1px;
}

.nav__ul li .bi{
    font-size: 1.7em;
    color: rgb(117 113 98);
}

.nav__ul li .bi:hover{
    color: rgb(185, 172, 124);
    border: 1px solid rgb(185, 172, 124);
    transition: all .2s ease;
}
.nav__ul li .bi:active{
    color: rgb(185, 172, 124);
}

main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userContainer{
    position: absolute;
    background-color: #232222;
    width: 18em;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.userContainer i.iconUser{
    font-size: 7em;
    color: rgb(185, 172, 124);
    cursor: inherit;
}

.userForm{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.userForm input{
    margin: 1em;
    width: 15em;
    padding: .5em;
    background-color: transparent;
    color: rgb(185, 172, 124);
    letter-spacing: .1em;
}

.userBtn{
    padding: .5em 1em;
    background-color: rgb(189, 168, 92);


    border: .1em solid rgb(185, 172, 124);
    border-radius: .2em;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.userBtn:hover{
    background-color: rgb(185, 172, 124);
    transform: scale(1.01);
}

.linkContainer{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.linkContainer i.gitIcon, .linkContainer i.linkeIcon{
    margin: 0 .6em;
    font-size: 2em;
    color: rgb(117 113 98);
}
.linkContainer i.gitIcon:hover, .linkContainer i.linkeIcon:hover{
    color: rgb(185, 172, 124);
    transition: all .2s ease;
}

.wellcome{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wellcomeMessage{
    font-size: 1.2em;
}
.wellcomeSpan{
    font-family: 'Lobster', cursive;
    color: rgb(185, 172, 124);
}

.container{
    margin: .8em;
    height: auto;
    width: 18em;
    padding: .8em 0; 
    box-shadow:  0px 2px 50px 6px rgba(0,0,0,0.51);;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 14em;
    height: 12em;
    margin: 1em 0;
}

h3{
    padding: .5em;
}

h4{
    color: rgb(179 172 149);
}

p{
    color: rgb(117 113 98);
}

.durationContainer{
    width: 100%;
    margin: .7em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 

}

.btnContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

.bi{
    font-size: 1.5em;
    cursor: pointer;  
}
.btnContainer .bi:first-child, .bi:last-child{
    font-size: 1em;
}

.bi:nth-child(3){
    font-size: 3em;
}

.playListTitle{
    margin: 0 0 1em 0;
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: center;
    color: rgb(117 113 98);
    cursor: pointer;

}
.listContainer{
    opacity: 0;
    height: 11em;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

.listContainer::-webkit-scrollbar{
    display: none;
}

.olPlayList{
    list-style: none;
}

.divPlayList{
    height: 3em;
    width: 18em;
    padding: 1.5em .2em;
    border-top: .15em solid rgba(255, 255, 255, 0.055);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.divPlayList div{
    gap: .5em;
    display: flex;
    align-items: center;
}

.divPlayList div img{
    width: 1.5em;
    height: 1.5em;
}

.active{
    opacity: 1;
    transition: .8s;
    display: flex;
    
}

.hidden{
    opacity: 0;
    display: none;
}

.filter{
    filter: blur(.2em);
    pointer-events: none;
}
