*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #141313ec;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container{
    margin: 1.2em;
    height: auto;
    width: 18em;
    padding: .8em 0; 
    border: 2px solid rgba(245, 245, 245, 0.021);
    box-shadow:  0px 2px 50px 6px rgba(0,0,0,0.51);;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 12em;
    height: 12em;
    margin: 1em 0;
    user-select: none;
}

h3{
    padding: .5em;
    user-select: none;
}

p{
    user-select: none;
}

.durationContainer{
    width: 100%;
    margin: .7em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.durationBar{
}

.btnContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.bi{
    font-size: 1.5em;
    cursor: pointer;  
}
.bi:first-child, .bi:last-child{
    font-size: 1em;
}

.bi:nth-child(3){
    font-size: 3em;
}

ol{
    width: 100%;
}

.liPlayList{
    height: 3em;
    width: 18em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.liPlayList div{
    gap: .5em;
    display: flex;
    align-items: center;
}

.liPlayList img{
    width: 1.5em;
    height: 1.5em;
}