@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border-radius: .2em;

}

body{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(32, 30, 30);
    color: rgb(224, 224, 224);
    margin: 0 auto;
    max-width: 40em;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
}

.navContainer{
    background-color: rgb(32, 30, 30);
}

.h1Container{
    padding: .5em;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.h1Container a {
    text-decoration: none;
}

.h1Container h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.7em;
    color: rgb(185, 172, 124);
}

.h1Container .bi {
    font-size: 2em;
    color: rgb(185, 172, 124);
}

.h1Container .bi:hover{
    border: 2px solid rgb(185, 172, 124);
    cursor: pointer;
}

.navUl{
    width: 100%;
    height: auto;
    padding: 0 0 .5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navLi{
    padding: .5em 1.5em;
    border: 1px solid rgb(185, 172, 124);
    color: rgb(185, 172, 124);
    font-weight: bold;
}

.navLi:hover{
    cursor: pointer;
    background-color: rgb(185, 172, 124);
    color: rgb(224, 224, 224);
    transition: all .2s;
}



h2{
    padding: .5em;
    text-align: start;
    font-size: 1.8em;
    color: rgb(224, 224, 224);
    background-color: rgb(185, 172, 124);
    text-shadow: 1px 1px .1em rgb(32, 30, 30);
    position: sticky;
    top: 2.44em;
}
.allTracksContainer, .albumContainer, .artistContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(27, 25, 25, 0.37);
    padding-bottom: 3em;
}

.allTracksContainer::-webkit-scrollbar, .albumContainer::-webkit-scrollbar, .artistContainer::-webkit-scrollbar{
    display: none;
}

.playlist{
    height: auto;
    width: 100%;
    list-style: none;
}

.playlist::-webkit-scrollbar{
    display: none;
}

img{
    width: 3em;
    height: 3em;
    object-fit: cover;
}

.liContainer{
    height: auto;
    padding: .5em 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.liContainer:hover{
    background-color: rgba(218, 215, 206, 0.068);
    cursor: pointer;
    transition: all .1s;
}

.liContainer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.liContainer .bi-heart, .liContainer .bi-heart-fill{
    margin-right: 1em;
    font-size: 1.5em;
    color: rgb(185, 172, 124);
}

footer{
    position: sticky;
    bottom: 0;
    left: 0;
}

.footerContainer{
    height: 5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    backdrop-filter: blur(3em);

}

.trackContainer{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.trackContainer img{
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.trackContainer div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .2em;

   
}

.trackContainer div h3{
    width: 100%;
    font-size: .9em;
    text-align: start;
}

.trackContainer div p{
    font-size: .7em;
    color: rgba(224, 224, 224, 0.637);
}

.btnContainer{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btnContainer .bi{
    font-size: 1.5em;
    cursor: pointer;
}

.btnContainer .bi:nth-child(3){
    font-size: 2.5em;
}

.btnContainer .bi:first-child ,.btnContainer .bi:last-child {
    font-size: .7em;
}

.hidden{
    display: none;
}